/*######## BASE #########*/
html,
body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
section{
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: 0.5s opacity;
}

/*######## FONT #########*/
body,h1 {
    font-family: 'Dosis', sans-serif;
}

/*######## ELEMENTI #########*/
form{
    align-items: center;
}

.btn{
    border-width: 3px;
}

.underline{
    margin-top: 0.5em;
    text-decoration: underline;
    color: #a7a7a7;
    cursor:pointer;
}

.underline:hover{
    color: #7c7c7c;
}

/*######## COLORI #########*/
:root {
    --theme-color: #5be99c;
    --theme-textcolor: #46e990;
}

.btn-primary,.btn-primary:active{
    background-color: #5be99c; border-color: #5be99c;
}

.btn-primary:hover{
    background-color: #79e7ab; border-color: #5be99c;
}

.btn-primary:focus{
    background-color: #5be99c; border-color: #5be99c;
    box-shadow: 0 0 0 0.25rem rgb(91 233 156 / 34%)!important;
}

.btn-primary.disabled, .btn-primary:disabled{
    transition: 0.4s background-color, 1s border-color;
    background-color: #90a499; border-color: #90a499;
}

/*######## IMMMAGINI #########*/
.card-wallet{
    background-image: url("/static/img/wallet.png");
    color: #e76d17a8;
    width: 100%;
    max-width: 350px;
    height: 160px;
}

.card-check{
    background-image: url("https://i.imgur.com/YZ0y5Mb.png");
    color: #0e994f80;
    width: 80%;
    max-width: 350px;
    height: 150px;
}

.card-newtravel{
    background-image: url("/static/img/travel.png");
    color: #0e994f80;
    width: 100%;
    max-width: 350px;
    height: 100px;
}

.card-travel{
    background-image: url("https://i.imgur.com/qysrjqA.png");
    color: #0e994f80;
    height: 100px;
}


/*######## SCROLLBAR #########*/
::-webkit-scrollbar{
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-thumb{
    background: #f3af62;
    border-radius: 26px;
}

::-webkit-scrollbar-thumb:hover{
    background: #cf9654;
}

::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}