AMPQ_URL=amqp://<username>:<password>@<ip>:<port>/                      #connection url for rabbitmq broker (required)
MONGO_URI=mongodb://<username>:<password>@<ip>:<port>/?authSource=admin #connection uri for mongodb (required)
JWT_SECRET=<secret>                                                     #secret for jwt signing (required) (must be the same for all instances of the program)
MAX_GOROUTINES=10                                                       #maximum number of goroutines to use, if it is not specified the program will use 2
LOG_LEVEL=debug|info                                                    #set the output level of logger, if it is not specified the level is "warning"
LOG_TYPE=file|stdout                                                    #set the output of log, if file is specified the program will write to .log otherwise stdout (if not specified the program will use stdout)
